/* ここから下に記載していく */




/* 補足映像のメモ
背景画像：
background:url(xxxxx)

文字真ん中
text-align: center

横並び
display:flex
＊横並びにするときは必ず、上記タグを使ってから！！

横並びを制御するのは、justify-content: centerなど


動画メモ    ：CSSはHTMLに対して編集を加えるものであり、HTML場所と変更内容を記載しないと効果が出ない。
            ：画面右上のTっぽいボタンで、画面分割！便利ー

            CSSの指定方法の基本は、
・セレクタ（タグ；命令したい場所）
・プロパティ（何を命令するのか）
・値（プロパティをどうしたいのか、色、位置、サイズなど指定する。）

idの指定は、上に記述したほうが優先

div、クラスなどは、下に記述したほうが優先！

idとクラスだと、idのほうが優先とのこと！

単位を remにする場合、 rem 62.5で検索！ルールがある！！
*/


@charset"utf-8";

/* 全体定義 */

    *{
    box-sizing: border-box;
    max-width:  100%;
    height: auto;
    }


/* ヘッダー */

    .header{
    display: flex;
    justify-content: center;
    font-size: 21px ;
    align-items: center;
    color: #666666;    
    }


/*  content */

    section{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    font-size: 21px ;
    align-items: center;
    /* color: #666666; */
    }

/* 咲丸 1歳4か月のところ */
    .contents{  
    padding-top: 10px; 
    max-width: 80% ;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top: solid 3px #F6275C;
    }


    .prof img{
        /* プロフ 丸写真化 */
    border-radius: 100px;
    -moz-border-image:150px;
    -webkit-border-image:150px;

    }

/* 咲く丸のところここまで */

    .contents h2{
    background-color: #F6275C;
    color: white;   
    font-size: 25px ; 
    margin-left: 50px;
    }


/* select.phpの画像部分 目標は、Instagram風！ */
/* PHPにDIVをつけて、直接CSSをかけるのと、HTMLのDIVにかけるのと混乱中… */

    .contents2{
    border-top: solid 3px #F6275C;
    padding: 10px;
    margin: 20px;
    height: auto;
    width: 450px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    }

    .result{     
    color: #000;
    width: 100%;
    max-width: 200px;
    height: 250px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    } 

    .more{
    display: flex;
    justify-content: center;
    text-align: center;
    }
    
/* 質問！画像サイズの変更がかからない！！文字位置は問題なさそう？困った！ */
/* CSSでインスタ風画像を編集したいのですが…？？.sakuimg .imginfo .view img  */
/* いくつか、変わったかも！！？縦長の画像が動かず…？？ */

    .sakuimg  {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    /* 以下で、親子要素指定（画像の上に要素） */
    position: relative;
    
    /* 以下で 中心から、200pxの正方形化 */
    max-width: 200px;
    max-height: 200px; 
    object-fit: cover;  
    /* 横長の画像が変わったが、縦長の画像が反映されないため、MAXで100％を指定してみる。 */
    width: 100%;
    height: 100%;

    /* 変わらず… */
  }


    /* 動きがないので、IDだけ真ん中に来る無茶ぶりを乗っけてみたところ！1つだけ動いた！なぜ！？困＆笑 */
    /* よくよく見ると、すべてのIDが乗っかった！ */

    .id {
      /* 文字がずれてしまうため、どうせなら画像右下に表示させようと親子要素、位置指定 */
      position: absolute;
      bottom: 0;
      right: 0;

      /*以下装飾*/
      color: white;
      background: #74c1f8;
      padding:0 2px;
      line-height:1.5;
      /* 変わらず…。 */
    }

/* #footer */

    footer{
    width:auto;
    text-align: center;
    background: #fff;
    display: flex;
    justify-content: center ;
    width: 100%;
    }


    .footer2 nav{
    padding-top: 30px; 
    width: 500px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top: solid 3px #F6275C;
    }

/* #footerここまで */

/* 以下おまけテスト */
  /* ポップアップの位置指定が通常の設定に干渉しているように思えたので一旦無効化。少し変動があるので、修正が間に合った場合、復活させる予定 */

  /* ポップアップウインドウの設定 */
  /* .popup {
    background-color: #efefef;
    box-shadow: 0 0 0 9999px rgba(0, 0, 0, .8);
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 70%;
    height: 55%;
    overflow-y: scroll;
  } */

  /* チェックボックスの初期設定 */
  /* #popup-on{
    display: none;
  } */

  /* チェックされたらポ ップアップウインドウを開く */
  /* #popup-on:checked + .popup{
    display: block;
  } */
  
  /* 閉じるアイコン（右上） */
  /* .icon-close{
    background: #000;
    color: #fff;
    font-size: 30px;
    padding: 0 10px;
    position: absolute;
    right: 0;
  } */
  
  /* 閉じるボタン */
  /* .btn-close{
    background: #000;
    border-radius: 10px;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    margin: 10px auto;
    width: 95%;
    text-align: center;
  } */
  

  /* ポップアップの内容 */
  /* .popup-content{
    margin: 40px auto 40px auto;
    width: 70%;
  } */


/* /ポップアップここまで！””/ */




/* 以下 form CSSを分ける  */

/* form{
  width:500px;
  margin:0 auto;
  } */

  /* .formbox{
  text-align: center;
  margin: 20px; 
  border-top: solid 3px #F6275C;
  }


  .item{
  padding-top: 20px; 
  overflow: hidden;
  margin-bottom: 20px;
  }

  .label{
  float: left;
  margin-right: 20px;
  width:135px;
  color: #000;
  border-left: solid 3px #F6275C;
  padding-left: 10px;
  } */
/* 
  .inputs{
  float: left;
  width:300px;
  text-align: center;
  padding:10px;
  font-size: 15px;
  }

  input[type="text"],input[type="email"]{
  border: solid 1px #aaa;
  border-radius:5px;
  padding:10px;
  font-size: 15px;
  text-align: center;
  }

  textarea{
  border: solid 1px #aaa;
  border-radius:5px;
  padding: 10px;
  height: 160px;
  font-size: 15px;
  } */

/* 
  .btn-area{
  text-align: center;
  }

  input[type="submit"]{
  background: #F6275C;
  border: none;
  color: white;
  font-size:17px;
  font-weight:bold;
  padding: 10px 20px;
  margin: 0 5px;
  }

  input[type="reset"]{
  background: #aaa;
  border: none;
  color: white;
  font-size:17px;
  font-weight:bold;
  padding: 10px 20px;
  margin: 0 5px;
  } */

/* 送信ボタン *//* CONTACT ここまで